/*------------------------------------------------------------------------------------------------------------
-----------------------------------------------Main-----------------------------------------------------------
------------------------------------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


.App {
    
}

/****************************************File Browser********************************************************/

.browse-wrapper{
    position: relative;
    width: 70vw;
    margin-left: 5vw;
    margin-top: 5vh;
    min-height: 100vh;
}

.btn-wrapper{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}

.doc-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: white;
}

#center-bg{
    opacity: 0.5;
}

button{    
    font-size: calc(0.4vh + 0.8vw);
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Courgette', cursive;
    background: none;
    color: black;
    border-radius: 10%;
    
}

.link{
    margin: 1vh 1vw 1vh 1vw;
    height: fit-content;
    background-color: rgba(212, 212, 212, 0.473);
    border: none;
    border-radius: 10%;
    opacity: 0.7;
    transition: opacity 0.3s ease-out, background-color 0.3s ease-out;
    
}

.link:hover{
    opacity: 1;
    background-color: rgba(233, 233, 233, 0.795);
}

.file-link{
    margin: 2vh 2vw 2vh 2vw;
}

.back-btn{
    height: 10vh;
    width: 8vw;
}

.folder-btn{
    height: 10vh;
    width: 8vw;
}

.file-btn{
    position: relative;
    height: 30vh;
    width: 12vw;
    border: 1px solid black;
    border-bottom-right-radius: 10% 30%;
    background-color: rgb(252, 250, 246);
    transition: font-size 0.3s ease-out, background-color 0.3s ease-out;
}

.file-btn::before{
    content: '';
    position: absolute;
    height: 80%;
    width: 80%;
    background: url('./sitebackground.png');
    background-size: 100%;
    top: 10%;
    left: 10%;
    opacity: 0.1;
    transition: opacity 0.3s ease-out;
}

.file-btn:hover{
    font-size: calc(0.5vh + 1vw);
    background-color: rgb(255, 253, 250);
}

.file-btn:hover::before{ 
    opacity: 0.3;
}

.btns-appear{
    transform: scale(0);
  }
  
.btns-appear-active{
    transition: transform 0.3s ease-out;
    transform-origin: center;
    transform: scale(1);
}

.btns-enter{
    transform: scale(0);
}

.btns-enter-active{
    transition: transform 0.3s ease-out;
    transform-origin: center;
    transform: scale(1);
}

.btns-exit{
    transform: scale(1);
}

.btns-exit-active{
    transition: transform 0.3s ease-out;
    transform-origin: center;
    transform: scale(0);
}

/*------------------------------------------------------------------------------------------------------------
----------------------------------------Pc Landscape-(pcl)----------------------------------------------------
------------------------------------------------------------------------------------------------------------*/

.title-appear{
    transform: translateX(-100vw);
}

.title-appear-active{
    transform: translateX(0);
    transition: transform 2s ease-out;
    
}

.sub-title-appear{
    transform: translateX(100vw);
    
    
}

.sub-title-appear-active{   
    transform: translateX(0);    
    transition: transform 2s ease-out;
    transition-delay: 2s;
    transition-property: transform;
    
}

.pcl-content-wrapper {
    margin: 0;
    padding: 0;
    width: 80vw;
    position: relative;
    left: 10vw;
    font-family: 'Courgette', cursive;
}

.pcl-background-container-global{
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 120vw;
    overflow: hidden;
    position: fixed;
    z-index: -2;
    background-color: rgb(255, 255, 255);
}

.pcl-background-container {
    top: 0;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 80vw;
    overflow: hidden;
    position: fixed;
    z-index: -1;
    box-sizing: border-box;
    background-color: white;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

#pcl-piano-jpg{

}

.pcl-header {
    position: relative;
    margin: 0;
    background-color: transparent;
    text-align: center;
    border-bottom-left-radius: 50% 30%;
    margin-top: 10vh;
}

.pcl-header-scores{
    position: relative;
    margin: 0;
    background-color: transparent;
    text-align: center;
    border-bottom-left-radius: 50% 30%;
    margin-top: 5vh;
}

.pcl-header > h1, ul, li, .pcl-header-scores > h1, ul, li{
    color: white;
    text-shadow: 1px 3px 3px black;
}

.pcl-nav{
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 1.5vh;
    width: 45vw;
    margin-left: 30vw;
    font-size: calc(0.5vh + 1vw);
}

.pcl-nav-list{
    color: white;
    text-decoration: none;
}

.pcl-nav-list-container{
    position: relative;
}

.pcl-nav-list-container::before{
    content: '';
    position: absolute;
    background-color: rgb(182, 39, 39);
    left: 5%;
    bottom: -2px;
    height: 2px;
    width: 90%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-out;
}
/* try to select the a via the container  like > and > etc then apply ::after for example*/
.pcl-nav-list-container:hover::before{    
    transform: scaleX(1);
    transform-origin: left;
}

a:focus {
    border-bottom: rgb(182, 39, 39) solid 2px;
    outline: none;
}


#pcl-main-title {
    position: relative;
    margin: 0;
    padding-top: 3vh;
    padding-bottom: 2vh;
    font-size: calc(2vw + 1vh);
}



.pcl-h2 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.pcl-main{
    position: relative;
    padding-left: 10vw;
    padding-right: 10vw;
}

#pcl-subtitle-container{
    position: relative;
    height: 60vh;
    margin-top: 8vh;
    margin-bottom: 7vh;
    left: 32vw;
    width: fit-content;
}

#pcl-subtitle{
    position: sticky;
    font-size: calc(1.75vw + 0.825vh);
    top: 20vh;
    margin: 0;
    padding: 0;
    text-align: right;
    text-shadow: 0px 0px 30px white;
    /*text-decoration: underline 2px solid rgb(182, 39, 39);*/
    line-height: 0;
}

#pcl-subtitle::before{
    content: '';
    position: absolute;
    left: 5%;
    width: 90%;
    height: 2px;
    bottom: -20px;
    background-color: rgb(182, 39, 39);
}
/*
#pcl-subtitle{
    position: relative;
    font-size: calc(1.75vw + 0.825vh);
    margin-top: 23vh;
    margin-bottom: 35vh;
    left: 5vw;
    padding-right: 0vw;
    text-align: right;
    text-shadow: 2px 2px 0px white;
    text-decoration: underline 2px solid rgb(182, 39, 39);;
}*/

.pcl-main-text{
    position: relative;
    font-size: calc(0.5vh + 1vw);
    line-height: 6vh;
    margin-top: 3vh;
    margin-bottom: 8vh;
    text-shadow: 1px 1px 0px white;
}

.pcl-footer{
    margin-top: 5vh;
    min-height: 8vh;
    color: white;
    position: relative;
    background-color: black;
    border-top-right-radius: 50% 30%;
}

#pcl-footer-text{
    margin-left: 5vw;
    padding-top: 3vh;
}

#pcl-footer-text > a:link, #pcl-footer-text > a:visited, #pcl-footer-text > a:hover, #pcl-footer-text > a:active{
    text-decoration: none;
    color: white;
}


/*------------------------------------------------------------------------------------------------------------
----------------------------------------Pc Portrait-(pcp)-----------------------------------------------------
------------------------------------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------------------------------------
----------------------------------------Tablet Landscape-(tabl)-----------------------------------------------
------------------------------------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------------------------------------
----------------------------------------Tablet Portrait-(tabp)------------------------------------------------
------------------------------------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------------------------------------
----------------------------------------Phone Landscape-(phol)------------------------------------------------
------------------------------------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------------------------------------
----------------------------------------Phone Portrait-(phop)-------------------------------------------------
------------------------------------------------------------------------------------------------------------*/